*{
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
a{
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    background-color: white;
    font-size: 16px;
    text-decoration: underline;
    color: #5075BF;
}
body {
    font-family: 'Lexend', sans-serif;
    background-color: #2862D1 !important;
    /* position: relative; */
    /* background-image: url('/image/frederick-warren-lOg_fQLHo7s-unsplash.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
}
.gambar{
    background-image: url('/image/frederick-warren-lOg_fQLHo7s-unsplash.jpg');
    background-repeat:repeat;
    /* background-size: cover; */
    width: 100%;
    height: auto;
    opacity: 25%;
}

.container{
    position: absolute;
    background-color: #2862D1 !important;
    width: 100%;
    height:max-content;
    z-index: 1 !important;
    opacity: 100%;
}
.whitebox{
    position: relative;
    z-index: 1 !important;
    width: 45%;
    height: auto;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    margin-bottom: 50px;
    top: 6%;
    /* bottom: 93%; */
    border-radius: 40px;
    padding : 50px 50px 50px 50px;
    color: #5075BF;
}

.kembali{
    display: block;
    justify-content: center;
    background-color: #254689;
    height: 5vh;
    color: white;
    font-family: 'Lexend', sans-serif;
    border-radius: 5px;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.kembali:hover{
    cursor: pointer;
}

.rincian{
    overflow: scroll;
    width: 5vw;
    height: 5vh;
}